/* Estilo para el contenedor del mensaje de error */
.error-container {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: transparent; /* Fondo completamente transparente */
  z-index: 9999; /* Asegura que esté por encima de otros elementos */
}


body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-image: url('../../assets/img/typescript.png'); 
  background-size: cover; /* Ajusta la imagen al tamaño del cuerpo */
  background-repeat: no-repeat;
}

.container {
  border: 1px solid #000; /* Agrega un borde */
  padding: 20px; 
  background-color: rgba(255, 255, 255, 0.8);
  margin-top: 10rem;
}

.yellow-text {
  text-align: center;
  color: black;
  font-size: large;
}

.green-text {
  text-align: center;
  color: green;
  font-size: large;
}


/* Estilos para títulos */
.form-group label {
  display: block;
  font-weight: bold;
  text-align: center;
  font-family: 'Arial', sans-serif; /* Fuente personalizada opcional */
  font-size: 18px; /* Tamaño de fuente personalizado */
  margin-bottom: 10px; /* Espacio entre títulos y inputs */
}

/* Estilos para inputs */
input[type="text"],
input[type="number"] {
  width: 60%; /* Ocupar todo el ancho disponible */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 16px;
  margin-bottom: 10px; /* Espacio entre inputs */
  background-color: #f9f9f9; /* Color de fondo del input */
  transition: border-color 0.2s ease-in-out; 
  text-align: center;
}

/* Estilo cuando el input está enfocado */
input[type="text"]:focus,
input[type="number"]:focus {
  border-color: rgba(0, 255, 0, 0.5);
  outline: none;
}

/* Estilo para los botones + y - */
.button-container {
  display: flex;
  justify-content: space-between;
}

button {
  padding: 8px 16px;
  border: none;
  background-color: #007bff;
  color: #fff;
  border-radius: 3px;
  cursor: pointer;
  font-size: 16px;
  width: 45%; /* Ajustar el ancho de los botones */
  margin-right: 5px; /* Espacio entre botones */
}

.alert {
  margin-top: 10px;
  padding: 10px;
  background-color: #f44336;
  color: #fff;
  border-radius: 3px;
  text-align: center;
}

/* Estilos para inputs de First Name y Last Name */
input#firstName,
input#lastName {
  width: 92%; /* Ocupar todo el ancho disponible */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 16px;
  margin-bottom: 10px; /* Espacio entre inputs */
  background-color: #f9f9f9; /* Color de fondo del input */
  transition: border-color 0.2s ease-in-out;
  text-align: center; 
}

/* Estilo cuando el input está enfocado */
input#firstName:focus,
input#lastName:focus {
  border-color: rgba(0, 255, 0, 0.5);
  outline: none;
}

/* Estilo para la sombra verde */
input.green-shadow {
  box-shadow: 0 0 5px 2px rgba(0, 255, 0, 0.5);
}

/* Estilo para la sombra roja */
input.red-shadow {
  box-shadow: 0 0 5px 2px rgba(255, 0, 0, 0.5);
  border-color: rgba(255, 0, 0, 0.5) !important;
}

.error-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: transparent; /* Fondo completamente transparente */
  z-index: 9999; /* Asegura que esté por encima de otros elementos */
}


.alert {
  padding: 10px;
  background-color: #f44336;
  color: #fff;
  border-radius: 3px;
  text-align: center;
}

/* Estilos para el contenedor de botones */
.button-container {
  display: flex;
  justify-content: space-between; /* Espacio igual entre los botones */
  margin-top: 10px; /* Espacio arriba de los botones */
}

/* Estilos para el contenedor de botones */
#contButon {
  display: flex;
  justify-content: space-between; /* Espacio igual entre los botones */
  margin-top: 10px; /* Espacio arriba de los botones */
  align-items: center; /* Centra verticalmente los botones */
}

.green-button {
  padding: 8px 16px;
  border: none;
  background-color: #4CAF50; 
  color: #fff;
  border-radius: 3px;
  cursor: pointer;
  font-size: 16px;
  flex: 0 0 auto; /* Evita que los botones crezcan más allá de su contenido */
  width: auto; /* Deja que el ancho se ajuste al contenido */
  margin-right: auto;
  margin-left: 5px;
}

/* Estilo para el botón de resta (-) */
.red-button {
  padding: 8px 16px;
  border: none;
  background-color: #f44336; 
  color: #fff;
  border-radius: 3px;
  cursor: pointer;
  font-size: 16px;
  flex: 0 0 auto; /* Evita que los botones crezcan más allá de su contenido */
  width: auto; /* Deja que el ancho se ajuste al contenido */
  margin-left: auto; /* Mueve el botón "-" completamente a la derecha */
}



.blue-button {
  width: 100%;
  margin-top: 10px; /* Espacio en la parte superior */
  /* Otros estilos que desees agregar, como colores de fondo y texto */
}
